<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografi - Ragil Ulil Azmi</title>
    <!-- Pastikan {{ dan }} menempel rapi -->
  <link rel="stylesheet" href="/static/agil.css">
</head>
<body>

    <div class="container">
        <h1>Biografi & Prestasi</h1>
        <h2>Ragil Ulil Azmi</h2>

<!-- Galeri 3 Foto Berurutan -->
<div class="image-gallery">
  <img src="{{ url_for('static', filename='foto1.jpeg') }}" alt="foto1">
  <img src="{{ url_for('static', filename='foto3.jpg') }}" alt="foto3">
  <img src="{{ url_for('static', filename='foto2.jpg') }}" alt="foto2">
</div>

        <!-- Tabel Biografi (Background Hitam) -->
        <table class="bio-table">
            <tr>
                <th colspan="2">PROFIL PELAJAR</th>
            </tr>
            <tr>
                <td class="label">Nama</td>
                <td>Ragil Ulil Azmi</td>
            </tr>
            <tr>
                <td class="label">Sekolah</td>
                <td>Madrasah Aliyah Negri 2 Kota Palu</td>
            </tr>
            <tr>
                <td class="label">Tentang Saya</td>
                <td>Ragil Ulil Azmi atau yang sering di sapa dengan nama panggilan Agil adalah seorang siswa dari MAN 2 Kota Palu. dia pernah meraih juara 3 pada ajang Gubernur Cup, EDCO (Eunterprenuership Education Compotition) cabang lomba Cerdas-Cermat bidang ekonomi bersama dua rekannya (Moh. Arya Turansyah dan Zawil Humam Lawahid)</td>
            </tr>
            <tr>
                <td class="label">Prestasi di MAN 2 Kota Palu</td>
                <td>
                    <ul>
                      <li>Juara 3 Cerdas-Cermat (EDCO)</li>
                      <li>Juara 3 Debat Dafest</li>
                      <li>Juara harapan 3 Design Grafis</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
